<!DOCTYPE html>
<html>
  <head>
    <title>Paper Tutorial</title>
    <script type="text/javascript" src="/site_media/jquery.min.js"></script>
    <script type="text/javascript" src="/site_media/paper.js"></script>
    <script type="text/javascript" src="/site_media/paptut.js"></script>
    <style type="text/css">
      #mycanvas{
border: 5px solid black;
}
.sprite_image{
display:none;
}
    </style>
  </head>
  <body>
    <h1>Paper Tutorial</h1>
    <!-- <a href="javascript:tool1.activate();">Lines</a> -->
    <!-- <a href="javascript:tool2.activate();">Clouds</a> -->
    <canvas id="mycanvas" resize="true"></canvas>
    {% for name in imagenames %}
    <img class="sprite_image" id="{{ name }}" src="/site_media/{{ name }}.gif" />
    {% endfor %}
  </body>
</html>
