#mycanvas{
    border: 5px solid black;
}

.sprite_image{
    display:none;
}

span.error{
    color: red;
    }

/* body{ */
/*     margin:0; */
/*     padding:0; */
/*     overflow:none; */
/*     } */
   